@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Emilys+Candy|Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline|Special+Elite');

body {
  background: url('/assets/ravenna.png');
  font-family: 'Love Ya Like A Sister', cursive;
  //font-family: 'Emilys Candy', cursive;
}

.clear {
  clear: both;
}

.pag {
  margin: auto;
  text-align:center;
}

.navbar.navbar-inverse {
  background: url('/assets/wood_1.png');
  border-radius:0;
  -moz-box-shadow: 1px 2px 3px 0 black,1px 4px 4px 0 #d0d0d0;
  -webkit-box-shadow: 1px 2px 3px 0 black,1px 4px 4px 0 #d0d0d0;
  box-shadow: 1px 2px 3px 0 black,1px 4px 4px 0 #d0d0d0;
}

.navbar-inverse .navbar-brand {
  color: pink;
  font-family: 'Special Elite', cursive;
  //font-family: 'Kumar One Outline', cursive;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}