@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

body {
  background: url('/assets/wood_1.png');
  font-family: 'Satisfy', cursive;
  color: #635957;
}

.profile-header {
  color: white;
}

h1, h2 {
  font-family: 'Homemade Apple', cursive;  
}

.carousel-caption {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
  text-shadow: rgba(0,0,0,0.95);
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

.page {
  text-align: center;
}

.caption {
  text-align: center;
}
 
.alert-info {
  background-color: transparent;
  color: white;
}
.navbar.navbar-default {
  background: url('/assets/coffee.jpg');
  border: none;
  border-radius:0;
  font-family: 'Homemade Apple', cursive;  
}

.navbar-default .navbar-brand {
  color: #635957;
  background: url('/assets/coffee_ring.png');
  background-size: auto;
}

.navbar-default .navbar-nav > li > a  {
  color: #635957;
  background: url('/assets/coffee_ring.png');
  background-size: contain;
}

.booyah-box {
  background: url('/assets/paper-background.png');
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
}

#map {
  height: 300px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

p {
  font-size: 20px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  max-height: 550px;
  width: 100%;
}

a.my-link:link, a.my-link:hover, a.my-link:visited {
  text-decoration: none;
  color: #635957;
}

a:link, a:hover, a:visited {
  text-decoration: none;
  color: #635957;
}

.profile-pic {
  height: 150px;
  width: 150px;
}

a.btn:link, a.btn:hover, a.btn:visited {
  color: white;
}

a#create-new-link {
  color: #FF5733;
  text-decoration: underline;
}

.footer {
  text-align: center;
  color: white;
}

.footer .heart {
  color: red;
}

.footer a {
  color: pink;
}